<div class="wrapper">
  <button data-button>Click Me!</button>
</div>

<script>
  // Find our component DOM on the page.
  const buttons = document.querySelectorAll("[data-button]");

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener("click", () => alert("You clicked the button 🎉"));
  });
</script>

<style>
  .wrapper {
    display: block;
    text-align: center;
  }
</style>
