---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BlogPost from "../../layouts/BlogPost.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  return [
    { params: { tag: "astro" }, props: { posts: allPosts } },
    { params: { tag: "blogging" }, props: { posts: allPosts } },
    { params: { tag: "learning in public" }, props: { posts: allPosts } },
    { params: { tag: "markdown" }, props: { posts: allPosts } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts: CollectionEntry<"blog">[] = posts.filter(
  (post: CollectionEntry<"blog">) =>
    tag ? post.data.tags?.includes(tag) : false,
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <p>Posts tagged with {tag}</p>
        <ul>
          {
            filteredPosts.map((post) => (
              <li>
                <a href="#">{post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
