---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Everything you need to know about me."
  pubDate={new Date("September 20 2023")}
>
  <p>
    Hi, I'm <code>Carlos Antonio</code>, although I go by <code>disusered</code>
     online. I am a software developer and cloud architect by profession. I have
    a longstanding interest in free and open source software, and have
    contributed to a number of projects over the years, as well as maintaining
    some of my own.
  </p>

  <p>
    Professionally, I am interested in the web and web development, cloud
    computing, SRE, devops, AI/ML, and LLMs. I have worked in many fields
    ranging from creative agencies, developer tooling, healthcare,
    cryptocurrency, and education.
  </p>

  <p>
    I was previously an interface designer and still have a love for well
    designed and well intentioned interfaces. My understanding of good design
    has evolved over the years from "aesthetically pleasing" to concerns about
    accessibility, usability, availability, and avoidance of dark patterns.
  </p>

  <p>
    As a hobbyist, I am interested in the small web, distributed and
    decentralized computing, command line interfaces, and human-computer
    interaction. I care about online privacy and security, and believe that the
    web has become much less interesting and useful as it has become more
    centralized and driven by advertising revenue.
  </p>

  <p>
    I was previously interested in cryptocurrency, being an early employee at
    México's first Bitcoin exchange, but crypto's adoption by scammers and
    opportunists has made me abandon the field almost entirely. I was a
    proponent of virtual reality and the metaverse, having owned a VR headset
    since the DK2, although I feel the technology has failed to deliver on its
    potential.
  </p>

  <p>
    Beyond technology, I enjoy tending to my garden, and am a proponent of
    permaculture, natural farming, and regenerative agriculture. I enjoy
    composting, vermiculture, indigenous and effective microorganisms (IMO/EM)
    and other DIY approaches to gardening. I am also interested in foraging,
    fermenting, pickling, and cooking.
  </p>

  <p>
    As I've grown older I've become more serious about my health, and have spent
    much of my free time learning about and practicing exercise and good
    nutrition. I enjoy doing yoga, give swimming classes at the municipal pool
    on the weekends and am a beginner at powerlifting. I own too many cats 🐈
    and wish I could adopt every stray I find.
  </p>
</Layout>
